name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        build: [Release, Debug]
        platform:
          - name: Linux
            cc: gcc
            cxx: g++
          - name: Win64
            cc: x86_64-w64-mingw32-gcc
            cxx: x86_64-w64-mingw32-g++
            mingw: 64
          - name: Win32
            cc: i686-w64-mingw32-gcc
            cxx: i686-w64-mingw32-g++
            mingw: 32
          - name: AndroidV7A
            android_abi: armeabi-v7a
          - name: AndroidV8A
            android_abi: arm64-v8a
    env:
      MINGW_ARCH: ${{ matrix.platform.mingw == 32 && 'i686' || 'x86_64' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install MinGW
        if: matrix.platform.mingw
        uses: egor-tensin/setup-mingw@v3
        with:
          platform: ${{ matrix.platform.mingw == 32 && 'x86' || 'x64' }}
          cc: 0

      - name: Restore godot-cpp
        id: cache-godot-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            godot-cpp/gdextension
            godot-cpp/include
            custom-godotcpp-build
          key: ${{ matrix.platform.cc }}-${{ hashFiles('.gitmodules') }}-${{ matrix.build }}

      - name: Update submodules
        if: steps.cache-godot-restore.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Build godot-cpp
        if: steps.cache-godot-restore.outputs.cache-hit != 'true' && !matrix.platform.mingw && !matrix.platform.android_abi
        uses: ashutoshvarma/action-cmake-build@master
        with:
          source-dir: custom-godotcpp-build
          build-dir: custom-godotcpp-build
          cc: ${{ matrix.platform.cc }}
          cxx: ${{ matrix.platform.cxx }}
          configure-options: >-
            -DGENERATE_DEBUG_SYMBOLS=OFF -G Ninja
          build-type: ${{ matrix.build }}

      - name: Build godot-cpp (MinGW)
        if: steps.cache-godot-restore.outputs.cache-hit != 'true' && matrix.platform.mingw && !matrix.platform.android_abi
        uses: ashutoshvarma/action-cmake-build@master
        with:
          source-dir: custom-godotcpp-build
          build-dir: custom-godotcpp-build
          cc: ${{ matrix.platform.cc }}
          cxx: ${{ matrix.platform.cxx }}
          configure-options: >-
            -DGENERATE_DEBUG_SYMBOLS=OFF -G Ninja
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32
          build-type: ${{ matrix.build }}

      - name: Build godot-cpp (Android)
        if: steps.cache-godot-restore.outputs.cache-hit != 'true' && !matrix.platform.mingw && matrix.platform.android_abi
        uses: ashutoshvarma/action-cmake-build@master
        with:
          source-dir: custom-godotcpp-build
          build-dir: custom-godotcpp-build
          configure-options: >-
            -DGENERATE_DEBUG_SYMBOLS=OFF -G Ninja
            -DCMAKE_TOOLCHAIN_FILE=${{ env.ANDROID_NDK_HOME }}/build/cmake/android.toolchain.cmake
            -DANDROID_ABI=${{ matrix.platform.android_abi }}
          build-type: ${{ matrix.build }}

      - name: Save godot-cpp
        id: cache-godot-save
        uses: actions/cache/save@v4
        with:
          path: |
            godot-cpp/gdextension
            godot-cpp/include
            custom-godotcpp-build
          key: ${{ steps.cache-godot-restore.outputs.cache-primary-key }}

      - name: Cache build dir
        id: cache-build
        uses: actions/cache@v5
        with:
          path: build
          key: ${{ matrix.platform.name }}-${{ matrix.build }}-${{ github.ref_name }}-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: |
            ${{ matrix.platform.name }}-${{ matrix.build }}-${{ github.ref_name }}-
            ${{ matrix.platform.name }}-${{ matrix.build }}-

      - name: Build library
        if: ${{ !matrix.platform.mingw && !matrix.platform.android_abi }}
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: build
          cc: ${{ matrix.platform.cc }}
          cxx: ${{ matrix.platform.cxx }}
          configure-options: -G Ninja
          build-type: ${{ matrix.build }}

      - name: Build library (MinGW)
        if: matrix.platform.mingw && !matrix.platform.android_abi
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: build
          cc: ${{ matrix.platform.cc }}
          cxx: ${{ matrix.platform.cxx }}
          configure-options: >-
            -DGENERATE_DEBUG_SYMBOLS=OFF -G Ninja
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32
          build-type: ${{ matrix.build }}

      - name: Build library (Android)
        if: ${{ !matrix.platform.mingw && matrix.platform.android_abi }}
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: build
          configure-options: >-
            -DGENERATE_DEBUG_SYMBOLS=OFF -G Ninja
            -DCMAKE_TOOLCHAIN_FILE=${{ env.ANDROID_NDK_HOME }}/build/cmake/android.toolchain.cmake
            -DANDROID_ABI=${{ matrix.platform.android_abi }}
          build-type: ${{ matrix.build }}

      - name: Upload Built Library Artifact
        uses: actions/upload-artifact@v4
        with:
          path: addons/godot-openmpt/bin/*
          name: bin-${{ matrix.platform.cc }}-${{ matrix.build }}

  package:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Merge compiled binaries
        uses: actions/download-artifact@v4
        with:
          path: addons/godot-openmpt/bin
          pattern: bin-*-*
          merge-multiple: true
      - name: Upload output addon artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-openmpt-${{ github.repository_id }}-${{ github.sha }}
          path: addons
