name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        build: [Release, Debug]
        platform:
          - name: Linux
          - name: Win64
            mingw: 64
          - name: Win32
            mingw: 32
          - name: AndroidV7A
            android_abi: armeabi-v7a
          - name: AndroidV8A
            android_abi: arm64-v8a
          - name: Android32
            android_abi: x86
          - name: Android64
            android_abi: x86_64
    env:
      MINGW_ARCH: ${{ matrix.platform.mingw == 32 && 'i686' || 'x86_64' }}
      ANDROID_PLATFORM: android-23
      CMAKE_COMMON: >-
        -G Ninja
        -DCMAKE_BUILD_TYPE=${{ matrix.build }}
        -DCMAKE_UNITY_BUILD=TRUE
        -DCMAKE_UNITY_BUILD_BATCH_SIZE=128
        -DCMAKE_C_VISIBILITY_PRESET=hidden
        -DCMAKE_CXX_VISIBILITY_PRESET=hidden
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install MinGW
        if: matrix.platform.mingw
        uses: egor-tensin/setup-mingw@v3
        with:
          platform: ${{ matrix.platform.mingw == 32 && 'x86' || 'x64' }}
          cc: 0

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Install Android NDK
        if: matrix.platform.android_abi
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23c

      - name: Build godot-cpp
        if: ${{ !matrix.platform.mingw && !matrix.platform.android_abi }}
        run: |
          cmake -S custom-godotcpp-build -B custom-godotcpp-build ${{ env.CMAKE_COMMON }}
          cmake --build custom-godotcpp-build

      - name: Build godot-cpp (MinGW)
        if: matrix.platform.mingw
        run: |
          export CC=${{ env.MINGW_ARCH }}-w64-mingw32-gcc CXX=${{ env.MINGW_ARCH }}-w64-mingw32-g++
          cmake -S custom-godotcpp-build -B custom-godotcpp-build ${{ env.CMAKE_COMMON }} \
            -DCMAKE_SYSTEM_NAME=Windows \
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32 \
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER \
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
          cmake --build custom-godotcpp-build

      - name: Build godot-cpp (Android)
        if: matrix.platform.android_abi
        run: |
          cmake -S custom-godotcpp-build -B custom-godotcpp-build ${{ env.CMAKE_COMMON }} \
            -DCMAKE_TOOLCHAIN_FILE=${{ steps.setup-ndk.outputs.ndk-path }}/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=${{ matrix.platform.android_abi }} -DANDROID_PLATFORM=${{ env.ANDROID_PLATFORM }} \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }}
          cmake --build custom-godotcpp-build

      - name: Build library
        if: ${{ !matrix.platform.mingw && !matrix.platform.android_abi }}
        run: |
          cmake -S . -B build ${{ env.CMAKE_COMMON }}
          cmake --build build

      - name: Build library (MinGW)
        if: matrix.platform.mingw
        run: |
          export CC=${{ env.MINGW_ARCH }}-w64-mingw32-gcc CXX=${{ env.MINGW_ARCH }}-w64-mingw32-g++
          cmake -S . -B build ${{ env.CMAKE_COMMON }} \
            -DCMAKE_SYSTEM_NAME=Windows \
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32 \
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER \
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
          cmake --build build

      - name: Build library (Android)
        if: matrix.platform.android_abi
        run: |
          cmake -S . -B build ${{ env.CMAKE_COMMON }} \
            -DCMAKE_TOOLCHAIN_FILE=${{ steps.setup-ndk.outputs.ndk-path }}/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=${{ matrix.platform.android_abi }} -DANDROID_PLATFORM=${{ env.ANDROID_PLATFORM }}
          cmake --build build

      - name: Upload Built Library Artifact
        uses: actions/upload-artifact@v4
        with:
          path: addons/godot-openmpt/bin/*
          name: bin-${{ matrix.platform.name }}-${{ matrix.build }}

  package:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Merge compiled binaries
        uses: actions/download-artifact@v4
        with:
          path: addons/godot-openmpt/bin
          pattern: bin-*-*
          merge-multiple: true
      - name: Upload output addon artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-openmpt-${{ github.repository_id }}-${{ github.sha }}
          path: addons
