name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        build: [Release, Debug]
        platform:
          - name: Linux
          - name: Win64
            cc: x86_64-w64-mingw32-gcc
            cxx: x86_64-w64-mingw32-g++
            mingw: 64
          - name: Win32
            cc: i686-w64-mingw32-gcc
            cxx: i686-w64-mingw32-g++
            mingw: 32
          - name: AndroidV7A
            android_abi: armeabi-v7a
          - name: AndroidV8A
            android_abi: arm64-v8a
    env:
      MINGW_ARCH: ${{ matrix.platform.mingw == 32 && 'i686' || 'x86_64' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install MinGW
        if: matrix.platform.mingw
        uses: egor-tensin/setup-mingw@v3
        with:
          platform: ${{ matrix.platform.mingw == 32 && 'x86' || 'x64' }}
          cc: 0

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Install Android NDK
        if: matrix.platform.android_abi
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23c

      - name: Cache godot-cpp
        id: cache-godot
        uses: actions/cache@v5
        with:
          path: custom-godotcpp-build
          key: ${{ matrix.platform.name }}-${{ matrix.build }}-${{ hashFiles('.gitmodules') }}
          restore-keys: ${{ matrix.platform.name }}-${{ matrix.build }}-

      - name: Build godot-cpp
        if: ${{ !matrix.platform.mingw && !matrix.platform.android_abi }}
        run: |
          cmake -S custom-godotcpp-build -B custom-godotcpp-build -G Ninja \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }}
          cmake --build custom-godotcpp-build --config ${{ matrix.build }}

      - name: Build godot-cpp (MinGW)
        if: ${{ matrix.platform.mingw && !matrix.platform.android_abi }}
        run: |
          cmake -S custom-godotcpp-build -B custom-godotcpp-build -G Ninja \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }} \
            -DCMAKE_C_COMPILER=${{ matrix.platform.cc }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.platform.cxx }} \
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32 \
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER \
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
          cmake --build custom-godotcpp-build --config ${{ matrix.build }}

      - name: Build godot-cpp (Android)
        if: ${{ !matrix.platform.mingw && matrix.platform.android_abi }}
        run: |
          cmake -S custom-godotcpp-build -B custom-godotcpp-build -G Ninja \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }} \
            -DCMAKE_TOOLCHAIN_FILE=${{ steps.setup-ndk.outputs.ndk-path }}/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=${{ matrix.platform.android_abi }}
          cmake --build custom-godotcpp-build --config ${{ matrix.build }}

      - name: Cache build dir
        id: cache-build
        uses: actions/cache@v5
        with:
          path: build
          key: ${{ matrix.platform.name }}-${{ matrix.build }}-${{ github.ref_name }}-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: |
            ${{ matrix.platform.name }}-${{ matrix.build }}-${{ github.ref_name }}-
            ${{ matrix.platform.name }}-${{ matrix.build }}-

      - name: Build library
        if: ${{ !matrix.platform.mingw && !matrix.platform.android_abi }}
        run: |
          cmake -S . -B build -G Ninja \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }}
          cmake --build build --config ${{ matrix.build }}

      - name: Build library (MinGW)
        if: matrix.platform.mingw && !matrix.platform.android_abi
        run: |
          cmake -S . -B build -G Ninja \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }} \
            -DCMAKE_SYSTEM_NAME=Windows \
            -DCMAKE_C_COMPILER=${{ matrix.platform.cc }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.platform.cxx }} \
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32 \
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER \
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
          cmake --build build --config ${{ matrix.build }}

      - name: Build library (Android)
        if: ${{ !matrix.platform.mingw && matrix.platform.android_abi }}
        run: |
          cmake -S . -B build -G Ninja \
            -DGENERATE_DEBUG_SYMBOLS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.build }} \
            -DCMAKE_TOOLCHAIN_FILE=${{ steps.setup-ndk.outputs.ndk-path }}/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=${{ matrix.platform.android_abi }}
          cmake --build build --config ${{ matrix.build }}

      - name: Upload Built Library Artifact
        uses: actions/upload-artifact@v4
        with:
          path: addons/godot-openmpt/bin/*
          name: bin-${{ matrix.platform.name }}-${{ matrix.build }}

  package:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Merge compiled binaries
        uses: actions/download-artifact@v4
        with:
          path: addons/godot-openmpt/bin
          pattern: bin-*-*
          merge-multiple: true
      - name: Upload output addon artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-openmpt-${{ github.repository_id }}-${{ github.sha }}
          path: addons
