name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        build: [Release, Debug]
        include:
          - name: Linux
            cc: gcc
            cxx: g++
            mingw: 0
          - name: Win64
            cc: x86_64-w64-mingw32-gcc
            cxx: x86_64-w64-mingw32-g++
            mingw: 64
          - name: Win32
            cc: i686-w64-mingw32-gcc
            cxx: i686-w64-mingw32-g++
            mingw: 32
    env:
      MINGW_ARCH: ${{ matrix.mingw == 32 && 'i686' || 'x86_64' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install MinGW
        if: matrix.mingw
        uses: egor-tensin/setup-mingw@v2.2.0
        with:
          platform: ${{ matrix.mingw == 32 && 'x86' || 'x64' }}
          cc: 0

      - name: Restore godot-cpp
        id: cache-godot-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            godot-cpp/gdextension
            godot-cpp/include
            custom-godotcpp-build
          key: ${{ matrix.cc }}-${{ hashFiles('.gitmodules') }}-${{ matrix.build }}

      - name: Update submodules
        if: steps.cache-godot-restore.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Build godot-cpp
        if: steps.cache-godot-restore.outputs.cache-hit != 'true' && matrix.mingw == 0
        uses: ashutoshvarma/action-cmake-build@master
        with:
          source-dir: custom-godotcpp-build
          build-dir: custom-godotcpp-build
          cc: ${{ matrix.cc }}
          cxx: ${{ matrix.cxx }}
          configure-options: -G Ninja
          build-type: ${{ matrix.build }}

      - name: Build godot-cpp MinGW
        if: steps.cache-godot-restore.outputs.cache-hit != 'true' && matrix.mingw != 0
        uses: ashutoshvarma/action-cmake-build@master
        with:
          source-dir: custom-godotcpp-build
          build-dir: custom-godotcpp-build
          cc: ${{ matrix.cc }}
          cxx: ${{ matrix.cxx }}
          configure-options: >-
            -DGENERATE_DEBUG_SYMBOLS=OFF
            -DCMAKE_SYSTEM_NAME=Windows
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
            -G Ninja
          build-type: ${{ matrix.build }}

      - name: Save godot-cpp
        id: cache-godot-save
        uses: actions/cache/save@v4
        with:
          path: |
            godot-cpp/gdextension
            godot-cpp/include
            custom-godotcpp-build
          key: ${{ steps.cache-godot-restore.outputs.cache-primary-key }}

      - name: Cache build dir
        id: cache-build
        uses: actions/cache@v5
        with:
          path: build
          key: ${{ matrix.name }}-${{ matrix.build }}-${{ github.ref_name }}-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: |
            ${{ matrix.name }}-${{ matrix.build }}-${{ github.ref_name }}-
            ${{ matrix.name }}-${{ matrix.build }}-

      - name: Build with CMake
        if: matrix.mingw == 0
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: build
          cc: ${{ matrix.cc }}
          cxx: ${{ matrix.cxx }}
          configure-options: -G Ninja
          build-type: ${{ matrix.build }}

      - name: Build with CMake MinGW
        if: matrix.mingw != 0
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: build
          cc: ${{ matrix.cc }}
          cxx: ${{ matrix.cxx }}
          configure-options: >-
            -DCMAKE_SYSTEM_NAME=Windows
            -DCMAKE_FIND_ROOT_PATH=/usr/${{ env.MINGW_ARCH }}-w64-mingw32
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
            -G Ninja
          build-type: ${{ matrix.build }}

      - name: Upload Built Library Artifact
        # We use v3 of both upload and download artifact for ACT compatibility
        uses: actions/upload-artifact@v4
        with:
          path: addons/godot-openmpt/bin/*
          name: bin-${{ matrix.cc }}-${{ matrix.build }}
  package:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Merge compiled binaries
        uses: actions/download-artifact@v4
        with:
          path: addons/godot-openmpt/bin
          pattern: bin-*-*
          merge-multiple: true
      - name: Upload output addon artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-openmpt-${{ github.repository_id }}-${{ github.sha }}
          path: addons
